@import './breakpoints.scss';

$spacing: (auto, 0, 1, 2, 3, 4, 5, 6, 7, 8) !default;

@function v($s) {
  @return if($s == auto, auto, if($s == 0, 0, var(--#{$s})));
}

@each $name, $bp in $breakpoints {
  @each $s in $spacing {
    @include up($name) {
      :where(.#{w($name)}gap-#{$s}) {
        gap: v($s);
      }
    }
  }

  @each $s in $spacing {
    @include up($name) {
      :where(.#{w($name)}m-#{$s}) {
        margin: v($s);
      }
      :where(.#{w($name)}p-#{$s}) {
        padding: v($s);
      }
    }
  }

  @each $s in $spacing {
    @include up($name) {
      :where(.#{w($name)}mx-#{$s}) {
        margin-inline: v($s);
      }
      :where(.#{w($name)}my-#{$s}) {
        margin-block: v($s);
      }
      :where(.#{w($name)}px-#{$s}) {
        padding-inline: v($s);
      }
      :where(.#{w($name)}py-#{$s}) {
        padding-block: v($s);
      }
    }
  }

  @each $s in $spacing {
    @include up($name) {
      :where(.#{w($name)}mt-#{$s}) {
        margin-top: v($s);
      }
      :where(.#{w($name)}mr-#{$s}) {
        margin-right: v($s);
      }
      :where(.#{w($name)}mb-#{$s}) {
        margin-bottom: v($s);
      }
      :where(.#{w($name)}ml-#{$s}) {
        margin-left: v($s);
      }
      :where(.#{w($name)}pt-#{$s}) {
        padding-top: v($s);
      }
      :where(.#{w($name)}pr-#{$s}) {
        padding-right: v($s);
      }
      :where(.#{w($name)}pb-#{$s}) {
        padding-bottom: v($s);
      }
      :where(.#{w($name)}pl-#{$s}) {
        padding-left: v($s);
      }
    }
  }
}
