$breakpoints: (
  w0: 0,
  w2: 700px,
  w4: 1300px,
);

$breakpointsex: (
  w0: 0,
  w1: 444px,
  w2: 700px,
  w3: 1000px,
  w4: 1300px,
  w5: 1700px,
);

@mixin up($name) {
  $size: map-get($breakpointsex, $name);
  @if ($size == 0) {
    @content;
  } @else {
    @media (min-width: $size) {
      @content;
    }
  }
}

@mixin down($name) {
  $size: map-get($breakpointsex, $name);
  @media not (min-width: $size) {
    @content;
  }
}

@function w($name) {
  $pixel: map-get($breakpointsex, $name);
  @return if($pixel == 0, '', '#{$name}\\:');
}
