*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(img, video) {
  max-width: 100%; // For images to not be able to exceed their container
  max-height: 100%;
  object-fit: contain;
}

:where(body) {
  margin: 0;
  overflow-wrap: break-word; // CSS IS AWESOME
  line-height: 1.6;
}

:where(pre) {
  display: block;
  font-family: inherit;
  white-space: pre-wrap;
}

:where(table) {
  border-collapse: collapse;
}

:where(tr, td) {
  padding: 0;
}

// Remove default margin
:where(h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd) {
  font-weight: normal;
  margin: 0;
}

:where(ul, ol) {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Restore default margin and list style inside an article element
:where(article, [role='article'])
  :where(h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd) {
  margin-block: 1em;
}

:where(article, [role='article']) :where(ul) {
  list-style: disc;
  margin-block: 1em;
  margin-inline-start: 40px;
}

:where(article, [role='article']) :where(ol) {
  list-style: decimal;
  margin-block: 1em;
  margin-inline-start: 40px;
}

// Form
:where(button, input) {
  font-family: inherit;
}
