.\[\:\-\] {
  text-align: start;
}

.\[\-\-\] {
  text-align: center;
}

.\[\-\:\] {
  text-align: end;
}

.\[\.\.\.\] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.\(B3\) {
  font-weight: 300;
}

.\(B\),.\(B6\) {
  font-weight: 600;
}
