.\[\:\-\] {
  text-align: start;
}

.\[\-\-\] {
  text-align: center;
}

.\[\-\:\] {
  text-align: end;
}

.\[\.\.\.\] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fw3 {
  font-weight: 300;
}

.fw4 {
  font-weight: 400;
}

.fw6 {
  font-weight: 600;
}
