$spacer: 2 5 10 20 30 50;

.sf-box {
  display: flex;
  flex: auto;
  flex-direction: column;

  &.sf-box--grid {
    display: grid;
  }

  &.sf-box--stretched {
    width: 100%;
    height: 100%;
  }

  &.sf-box--reverse {
    flex-direction: column-reverse;
  }

  &.sf-box--horizontal {
    flex-direction: row;

    &.sf-box--reverse {
      flex-direction: row-reverse;
    }
  }

  &.sf-box--wrap {
    flex-wrap: wrap;
  }

  @each $size in $spacer {
    &.m-#{$size} {
      margin: #{$size}px;
    }
    &.mt-#{$size},
    &.my-#{$size} {
      margin-top: #{$size}px;
    }
    &.mr-#{$size},
    &.mx-#{$size} {
      margin-right: #{$size}px;
    }
    &.mb-#{$size},
    &.my-#{$size} {
      margin-bottom: #{$size}px;
    }
    &.ml-#{$size},
    &.mx-#{$size} {
      margin-left: #{$size}px;
    }

    &.p-#{$size} {
      padding: #{$size}px;
    }
    &.pt-#{$size},
    &.py-#{$size} {
      padding-top: #{$size}px;
    }
    &.pr-#{$size},
    &.px-#{$size} {
      padding-right: #{$size}px;
    }
    &.pb-#{$size},
    &.py-#{$size} {
      padding-bottom: #{$size}px;
    }
    &.pl-#{$size},
    &.px-#{$size} {
      padding-left: #{$size}px;
    }
  }

  &.m-auto {
    margin: auto;
  }

  &.mt-auto,
  &.my-auto {
    margin-top: auto;
  }

  &.mr-auto,
  &.mx-auto {
    margin-right: auto;
  }

  &.mb-auto,
  &.my-auto {
    margin-bottom: auto;
  }

  &.ml-auto,
  &.mx-auto {
    margin-left: auto;
  }

  // We'll use flexbox builtin gap
  // @each $size in $spacer {
  //   &:not(.sf-box--horizontal).sf-box--gap-#{$spacer} > *:not(:first-child) {
  //     margin-top: #{$spacer}px;
  //   }

  //   &.sf-box--horizontal.sf-box--gap-#{$spacer} > *:not(:first-child) {
  //     margin-left: #{$spacer}px;
  //   }
  // }

  $justify-content: (
    center: center,
    between: space-between,
    around: space-around,
    evenly: space-evenly,
    start: flex-start,
    end: flex-end,
    stretch: stretch,
  );
  @each $k, $v in $justify-content {
    &.sf-box--justify-#{$k} {
      justify-content: $v;
    }
    &.sf-box--align-content-#{$k} {
      align-content: $v;
    }
  }

  $align-items: (
    center: center,
    start: flex-start,
    end: flex-end,
    stretch: stretch,
  );
  @each $k, $v in $justify-content {
    &.sf-box--align-#{$k} {
      align-items: $v;
    }
  }
}
