@use 'sass:color';

$color-primary: #c8286e;
$color-dark: #446;
$color-contrasting: #3d78c5;

:root {
  --color-primary: #{$color-primary};
  --color-primary-fade-1: #{color.adjust($color-primary, $alpha: -0.96)};
  --color-primary-fade-100: #{color.adjust($color-primary, $alpha: -0.9)};
  --color-primary-fade-200: #{color.adjust($color-primary, $alpha: -0.75)};
  --color-primary-darken-100: #{color.adjust($color-primary, $lightness: -4%)};
  --color-primary-darken-200: #{color.adjust($color-primary, $lightness: -8%)};
  --color-dark: #{$color-dark};
  --color-dark-fade-1: #{color.adjust($color-dark, $alpha: -0.95)};
  --color-dark-fade-100: #{color.adjust($color-dark, $alpha: -0.9)};
  --color-dark-fade-200: #{color.adjust($color-dark, $alpha: -0.75)};
  --color-contrasting: #{$color-contrasting};
  --color-contrasting-fade-100: #{transparentize($color-contrasting, 0.9)};
  --color-contrasting-fade-200: #{transparentize($color-contrasting, 0.6)};
  --color-danger: #f73c2f;
  --color-danger-fade-100: #{transparentize(#f73c2f, 0.9)};
  --color-danger-fade-200: #{transparentize(#f73c2f, 0.6)};
  --color-spin: currentcolor;
  --border-radius-1: 5px;
  --bezier-wave: cubic-bezier(0.66, 0, 0, 1);
  --bezier-ea: cubic-bezier(0.23, 1, 0.32, 1);
}

.st-not-interactive {
  user-select: none;
  pointer-events: none;
}

.st-focus-sentinel {
  overflow: hidden;
  outline: none;
}
