.demo-player {
  flex-grow: 1;
  overflow: hidden;
  border-radius: 4px;
  .demo-player-inner {
    margin-top: 10px;
    border: 2px solid var(--color-dark-fade-200);
    border-radius: 2px;
  }
  .demo-live {
    position: relative;
    padding: 20px;
    overflow: auto hidden;
    background-color: #fff;
    border-radius: 2px;
  }
  .demo-control {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    color: var(--color-dark);
    font-weight: 700;

    // font-family: 'lucida console', Consolas, Monaco, 'andale mono', 'ubuntu mono', monospace;
    font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
    line-height: 36px;
    text-align: center;
    background-color: #fff;
    border: 0;
    outline: 0;
    transform-origin: top;
    cursor: pointer;
    transition: all 0.06s, box-shadow 0.2s;
    user-select: none;
    &.active {
      border-radius: 2px 2px 2px 2px;
      box-shadow: 0 4px 2px -2px var(--color-contrasting);
    }
    &:hover,
    &:focus-visible {
      background: var(--color-contrasting-fade-100);
    }
    &:active {
      font-size: 14px;
      background: var(--color-contrasting-fade-100);
      transform: scaleY(0.92);
    }
    &:focus-visible {
      box-shadow: 0 0 0 4px #8cbaff80;
    }
    ::before {
      content: '<>';
    }
  }
  .demo-code {
  }
}
