:root {
  --1: 5px;
  --2: 10px;
  --3: 15px;
  --4: 20px;
  --5: 25px;
  --6: 30px;
  --7: 40px;
  --8: 50px;

  --h1: 28px;
  --h2: 24px;
  --h3: 20px;
  --f1: 16px;
  --f2: 14px;
  --f3: 12px;

  --black-txt-1: #131314;
  --black-txt-2: #131314bb;
  --black-txt-3: #13133455;
  --white-txt-1: #e6e4e2;
  --white-txt-2: #e6e4e2bb;
  --white-txt-3: #e6e4e255;

  --bg: #ffffff;

  --s: 30px;
  --m: 40px;
  --l: 50px;
  ---size: var(--m);
  ---f: var(--f2);

  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

:where(.size-s) {
  ---size: var(--s);
  ---f: var(--f3);
}

:where(.size-m) {
  ---size: var(--m);
  ---f: var(--f2);
}

:where(.size-l) {
  ---size: var(--l);
  ---f: var(--f1);
}

:root,
.light {
  --text-1: var(--black-txt-1);
  --text-2: var(--black-txt-2);
  --text-3: var(--black-txt-3);
}
.dark {
  --text-1: var(--white-txt-1);
  --text-2: var(--white-txt-2);
  --text-3: var(--white-txt-3);
}

/* Material */
:root,
.light {
  --mat-air-0: #00011100;
  --mat-air-05: #00011105;
  --mat-air-1: #0001110a;
  --mat-air-15: #00011116;
  --mat-air-2: #0001111a;
  --mat-air-3: #0001112a;
  --mat-air-4: #0001113a;

  --mat-solid-0: #ffffff;
  --mat-solid-05: #fafafa;
  --mat-solid-1: #f5f5f5;
  --mat-solid-15: #e9e9ea;
  --mat-solid-2: #e5e5e6;
  --mat-solid-3: #d5d5d7;
  --mat-solid-4: #c5c5c8;

  --DVD: var(--mat-air-15);
}

.dark {
  --mat-air-0: #eeefff00;
  --mat-air-05: #eeefff05;
  --mat-air-1: #eeefff10;
  --mat-air-15: #eeefff15;
  --mat-air-2: #eeefff20;
  --mat-air-3: #eeefff30;
  --mat-air-4: #eeefff40;

  --mat-solid-0: #1c1b22;
  --mat-solid-05: #201f26;
  --mat-solid-1: #292830;
  --mat-solid-15: #2e2d34;
  --mat-solid-2: #36363e;
  --mat-solid-3: #44434c;
  --mat-solid-4: #515059;
}

/* Material */
:root {
  /* This feels good in popper animations */
  --curve-wave: cubic-bezier(0.66, 0, 0, 1);
  /* --curve-ease: cubic-bezier(0.23, 1, 0.32, 1); */
  /* tailwind css default ease in out */
  /* --ease-io: cubic-bezier(0.4, 0, 0.2, 1); */
}
