:root {
  --0: 0;
  --1: 2px;
  --2: 3px;
  --3: 5px;
  --4: 10px;
  --5: 20px;
  --6: 30px;
  --7: 40px;
  --8: 50px;

  --h1: 28px;
  --h2: 24px;
  --h3: 20px;
  --f1: 16px;
  --f2: 14px;
  --f3: 12px;

  --text1: #131314;
  --text2: #13131499;
  --text3: #13145555;

  --bg: #ffffff;

  --tone-blank-idle: transparent;
  --tone-blank-pending: #00011115;
  --tone-blank-active: #00011125;

  --tone-demi-idle: #00011110;
  --tone-demi-pending: #00011120;
  --tone-demi-active: #00011125;
}

.dark {
  --text1: #e6e3e0;
  --text2: #e6e3e0cc;
  --text3: #e6e3e088;

  --tone-blank-pending: #ece3e715;
  --tone-blank-active: #ece3e725;
}

/* Material */
:root {
  --mat-air-0: #00011100;
  --mat-air-1: #00011110;
  --mat-air-15: #00011115;
  --mat-air-2: #00011120;
  --mat-air-3: #00011130;
  --mat-air-4: #00011140;

  --DVD: var(--mat-air-15);
}

.dark {
  --mat-air-0: #fffeee00;
  --mat-air-1: #fffeee10;
  --mat-air-15: #fffeee15;
  --mat-air-2: #fffeee20;
  --mat-air-3: #fffeee30;
  --mat-air-4: #fffeee40;
}
