/* INPUT */

:where(.sf-input) {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(---size);
  font-size: var(---f);
  line-height: 1.6;
  color: var(--text1);
  outline: 1px solid var(--mat-solid-15);
  outline-offset: -1px;
  box-shadow: 0 0 0 0 var(---foam);
  transition: box-shadow 0.2s;
}

:where(.sf-input:not(.--disabled):hover) {
  outline-color: var(---flame);
  cursor: text;
}

:where(.sf-input:focus-within) {
  outline: 2px solid var(---flame);
  box-shadow: 0 0 0 4px var(---foam);
}

/* TODO: needed? */
:where(.sf-input:is(:hover, :focus-within)) {
  z-index: 1;
}

:where(.sf-input > :is(input, textarea)) {
  all: unset;
  width: 100%;
  height: 100%;
  color: inherit;
  font: inherit;
  order: 2;
  padding-inline: 10px;
}

:where(.sf-input > :is(input, textarea)::placeholder) {
  color: var(--text3);
}

:where(.sf-input.--textarea) {
  height: unset;
}

/* NOTE: Webkit 居然还能有这种 Bug，涨见识了，而且还是只对中文生效的： input输入框向下偏移，输入中文，字符数字下移一像素问题 */
:where(.sf-input > input) {
  height: var(---size);
  line-height: var(---size);
}

:where(.sf-input.--textarea > textarea) {
  padding-block: 10px;
  resize: vertical;
}

:where(.VInputEraser) {
  order: 3;
  flex-shrink: 0;
  width: var(---size);
  height: var(---size);
  color: var(--text3);
  pointer-events: none;
}
/* 
:where(.sf-input.--has-prefix > :is(input, textarea)) {
  padding-inline-start: 0;
}

:where(.sf-input.--has-suffix > :is(input, textarea)) {
  padding-inline-end: 0;
} */

:where(.VInputEraser) {
  cursor: pointer;
  pointer-events: initial;
}

:where(.VInputEraser:hover) {
  background-color: var(--mat-air-1);
}

:where(.VInputEraser:active) {
  background-color: var(--mat-air-2);
}

:where([aria-label='Input Prefix'], [aria-label='Input Suffix']) {
  flex-shrink: 0;
  padding-inline: 5px;
  color: var(--text2);
  min-width: var(---size);
  white-space: nowrap;
  pointer-events: none;
}

:where([aria-label='Input Prefix']) {
  order: 1;
}

:where([aria-label='Input Suffix']) {
  order: 4;
}

:where(.sf-input-prefix ~ :is(input, textarea)) {
  padding-left: 0;
}

:where(.sf-input-suffix ~ :is(input, textarea)) {
  padding-right: 0;
}

/* BUTTON */

:where(.Button) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 15px;
  height: var(---size);
  min-width: var(---size);
  font-size: var(---f);
}

:where(.FormItemHeader) {
  font-size: var(--f2);
  line-height: 1.6;
}

:where(.FormItemTitle) {
  display: block;
  font-weight: 600;
  cursor: default;
}

:where(.FormItem) {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 20px;
}

:where(.VForm) {
  height: 100%;
}
