/* INPUT */

:where(.FormItemHeader) {
  font-size: var(--f2);
  line-height: 1.6;
}

:where(.FormItemTitle) {
  display: block;
  font-size: 13px;
  font-weight: 600;
  cursor: default;
}

:where(.FormItem) {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 20px;
}

:where(.VForm) {
  height: 100%;
}
