/* INPUT */

:where(.sf-input) {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(---size);
  font-size: var(---f);
  line-height: 1.6;
  color: var(--text1);
  outline: 1px solid var(--mat-solid-15);
  outline-offset: -1px;
  box-shadow: 0 0 0 0 var(---foam);
  transition: box-shadow 0.2s;
}

:where(.sf-input:not(.--disabled):hover) {
  outline-color: var(---flame);
  cursor: text;
}

:where(.sf-input:focus-within) {
  outline: 2px solid var(---flame);
  box-shadow: 0 0 0 4px var(---foam);
}

/* TODO: needed? */
:where(.sf-input:is(:hover, :focus-within)) {
  z-index: 1;
}

:where(.sf-input > :is(input, textarea)) {
  all: unset;
  width: 100%;
  height: 100%;
  color: inherit;
  font: inherit;
  order: 2;
  padding-inline: 10px;
}

:where(.sf-input > :is(input, textarea)::placeholder) {
  color: var(--text3);
}

:where(.sf-input.--textarea) {
  height: unset;
}

/* NOTE: Webkit 居然还能有这种 Bug，涨见识了，而且还是只对中文生效的： input输入框向下偏移，输入中文，字符数字下移一像素问题 */
:where(.sf-input > input) {
  height: var(---size);
  line-height: var(---size);
}

:where(.sf-input.--textarea > textarea) {
  padding-block: 10px;
  resize: vertical;
}

:where(.sf-input-clean) {
  flex-shrink: 0;
  width: var(---size);
  height: var(---size);
  font-size: 120%;
  color: var(--text2);
  pointer-events: none;
}
/* 
:where(.sf-input.--has-prefix > :is(input, textarea)) {
  padding-inline-start: 0;
}

:where(.sf-input.--has-suffix > :is(input, textarea)) {
  padding-inline-end: 0;
} */

:where(.sf-input-clean) {
  cursor: pointer;
  pointer-events: initial;
}

:where(.sf-input-clean:hover) {
  background-color: var(--mat-air-1);
}

:where(.sf-input-clean:active) {
  background-color: var(--mat-air-2);
}

:where(.sf-input-prefix, .sf-input-suffix) {
  flex-shrink: 0;
  padding: 0;
  color: var(--text2);
  min-width: var(---size);
  white-space: nowrap;
  pointer-events: none;
}

:where(.sf-input-prefix) {
  order: 1;
  padding-inline: 5px;
}

:where(.sf-input-suffix) {
  order: 3;
  padding-inline: 5px;
}

:where(.sf-input-prefix ~ :is(input, textarea)) {
  padding-left: 0;
}

:where(.sf-input-suffix ~ :is(input, textarea)) {
  padding-right: 0;
}

/* BUTTON */

:where(.Button) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 15px;
  height: var(---size);
  min-width: var(---size);
  font-size: var(---f);
}

:where(.Content) {
  padding-inline: 5px;
}

/* RADIO */

:where(.sf-radio-group) {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  font-size: var(--f2);
  line-height: 1.6;
}

:where(.sf-radio-group [role='radio']) {
  display: flex;
  align-items: center;

  padding-inline: 20px;
  height: 40px;

  outline: 1px solid var(--mat-solid-15);
  outline-offset: -1px;
}

:where(.sf-radio-group [role='radio']):where(
    :not([aria-disabled='true']):hover
  ) {
  cursor: pointer;
  background-color: var(--mat-solid-1);
}

:where(.sf-radio-group [role='radio']):where(
    :not([aria-disabled='true']):active
  ) {
  background-color: var(--mat-solid-2);
}

:where(.sf-radio-group [role='radio']):where([aria-disabled='true']) {
  color: var(--text3);
  background-color: var(--mat-solid-05);
  cursor: not-allowed;
}

:where(.sf-radio-group [role='radio']):where([aria-checked='true']) {
  color: var(---ink);
  outline: 2px solid var(---main);
}

:where(.sf-radio-group [role='radio']):where([aria-checked='true']:hover) {
  background-color: color-mix(in oklab, var(---foam) 15%, var(--mat-solid-1));
}

:where(.sf-radio-group [role='radio']):where(:focus-visible) {
  color: var(---ink);
  outline: 2px solid var(---main);
  box-shadow: 0 0 0 6px var(---foam);
  transition: box-shadow 0.2s;
}

:where(.sf-form-item label) {
  display: block;
  margin-bottom: 5px;
  font-size: var(--f2);
  line-height: 1.6;
  font-weight: 600;
}

:where(.sf-form-item .__description) {
  padding-block: 2px;
  display: flex;
  font-size: var(--f2);
  line-height: 1.6;
}

:where(.sf-form-item .Alert) {
  padding-block: 2px;
  display: flex;
  font-size: var(--f2);
  line-height: 1.6;
  color: var(---main);
}

:where(.sf-form-item .Message) {
  padding-inline-start: var(--1);
}

:where(.sf-form-item) {
  margin-bottom: 10px;
}

:where(.VForm) {
  height: 100%;
}
