i-feather {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 1em;
    height: 1em;
    fill: none;
    stroke: currentColor;
    stroke-width: var(--i-width, 2px);
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}
