.mat\:air,
.mat\:airy,
.mat\:air-ring {
  border: 0;
  background: var(--mat-air-0);
  outline: 0;
  text-decoration: none;
  transition: box-shadow 0.2s;

  &:hover {
    background: var(--mat-air-1);
  }
  &:active {
    background: var(--mat-air-2);
  }

  &:focus-visible {
    outline: 2px solid var(---main);
    outline-offset: -1px;
    box-shadow: 0 0 0 4px var(---foam);
  }
}

.mat\:air,
.mat\:air-ring {
  color: var(--text1);
  &[aria-selected='true'],
  &[aria-checked='true'],
  &[aria-pressed='true'],
  &:is(details[open] > summary),
  &.active {
    color: var(---fore);
  }
}

.mat\:airy {
  color: var(--text2);
  &[aria-selected='true'],
  &[aria-checked='true'],
  &[aria-pressed='true'],
  &:is(details[open] > summary),
  &.active {
    color: var(---text1);
  }
}

.mat\:solid,
.mat\:solidity,
.mat\:solid-ring {
  border: 0;
  background: var(--mat-solid-0);
  outline: 0;
  text-decoration: none;
  transition: box-shadow 0.2s;

  &:hover {
    background: var(--mat-solid-1);
  }
  &:active {
    background: var(--mat-solid-2);
  }

  &:focus-visible {
    outline: 2px solid var(---main);
    outline-offset: -1px;
    box-shadow: 0 0 0 4px var(---foam);
  }
}

.mat\:solid,
.mat\:solid-ring {
  color: var(--text1);
  &[aria-selected='true'],
  &[aria-checked='true'],
  &[aria-pressed='true'],
  &:is(details[open] > summary),
  &.active {
    color: var(---fore);
  }
}

.mat\:solidity {
  color: var(--text2);
  &[aria-selected='true'],
  &[aria-checked='true'],
  &[aria-pressed='true'],
  &:is(details[open] > summary),
  &.active {
    color: var(---text1);
  }
}

.mat\:ruby {
  color: var(--text1);
  border: 0;
  background: var(--mat-air-0);
  outline: 0;
  text-decoration: none;
  font-weight: 600;
  transition: box-shadow 0.2s;

  &:hover {
    background: var(--mat-air-1);
  }
  &:active {
    background: var(--mat-air-2);
  }

  &[aria-selected='true'],
  &[aria-checked='true'],
  &[aria-pressed='true'],
  &:is(details[open] > summary),
  &.active {
    background: var(---main);

    &:hover {
      background: color-mix(in oklab, var(---main), #000 7%);
    }
    &:active {
      background: color-mix(in oklab, var(---main), #000 14%);
    }

    --text1: #fff;
    --text2: #fff;
    --text3: #fff;
  }

  &:focus-visible {
    outline: 2px solid var(---main);
    outline-offset: -1px;
    box-shadow: 0 0 0 4px var(---foam);
  }
}
