@mixin ActiveQuery() {
  @at-root &:where(
        [aria-selected='true'],
        [aria-checked='true'],
        [aria-pressed='true'],
        :is(details[open] > summary),
        .active
      ) {
    @content;
  }
}

@mixin DisabledQuery() {
  @at-root &:where(:disabled, [aria-disabled='true'], .disabled) {
    @content;
  }
}

.mat\:air,
.mat\:airy,
.mat\:air-crown {
  border: 0;
  background: var(--mat-air-0);

  &:hover {
    background: var(--mat-air-1);
  }
  &:active {
    background: var(--mat-air-2);
  }
}

.mat\:solid,
.mat\:solidity,
.mat\:solid-crown {
  border: 0;
  background: var(--mat-solid-0);

  &:hover {
    background: var(--mat-solid-1);
  }
  &:active {
    background: var(--mat-solid-2);
  }
}

.mat\:air,
.mat\:air-crown,
.mat\:solid,
.mat\:solid-crown {
  color: var(--text1);
  @include ActiveQuery() {
    color: var(---ink);
  }
}

.mat\:airy,
.mat\:solidity {
  color: var(--text2);
  @include ActiveQuery() {
    color: var(---text1);
  }
}

.mat\:air-crown,
.mat\:solid-crown {
  border: 2px solid transparent;
  @include ActiveQuery() {
    border: 2px solid var(---main);
  }
}

.mat\:ruby {
  color: var(--text1);
  border: 0;
  background: var(--mat-air-0);
  outline: 0;

  &:hover {
    background: var(--mat-air-1);
  }
  &:active {
    background: var(--mat-air-2);
  }

  @include ActiveQuery() {
    background: var(---main);

    &:hover {
      background: color-mix(in oklab, var(---main), #000 5%);
    }
    &:active {
      background: color-mix(in oklab, var(---main), #000 13%);
    }

    --text1: #fff;
    --text2: #fff;
    --text3: #fff;
  }
}

.mat\:dust {
  border: 0;
  background: var(--mat-air-1);

  &:hover {
    background: var(--mat-air-2);
  }
  &:active {
    background: var(--mat-air-3);
  }

  @include ActiveQuery() {
    background: var(---foam);

    &:hover {
      background: color-mix(in oklab, var(---foam), var(---flame) 12%);
    }
    &:active {
      background: color-mix(in oklab, var(---foam), var(---flame) 24%);
    }
  }
}

.mat\:dust {
  color: var(--text1);
  @include ActiveQuery() {
    color: var(---ink);
  }
}
.mat\:dusty {
  border: 0;
  background: var(--mat-air-1);

  &:hover {
    background: var(--mat-air-2);
  }
  &:active {
    background: var(--mat-air-3);
  }

  @include ActiveQuery() {
    background: var(---foam);

    &:hover {
      background: color-mix(in oklab, var(---foam), var(---flame) 12%);
    }
    &:active {
      background: color-mix(in oklab, var(---foam), var(---flame) 24%);
    }
  }
}

.mat\:air,
.mat\:airy,
.mat\:air-crown,
.mat\:solid,
.mat\:solidity,
.mat\:solid-crown,
.mat\:ruby,
.mat\:dust,
.mat\:dusty {
  @include DisabledQuery() {
    color: var(--text3);
  }
}

.mat\:air,
.mat\:airy,
.mat\:air-crown,
.mat\:solid,
.mat\:solidity,
.mat\:solid-crown,
.mat\:ruby,
.mat\:dust,
.mat\:dusty {
  outline: 0;
  text-decoration: none;

  --mat-shadow: 0 0 0 0 transparent;
  --mat-shadow-outline: 0 0 0 0 transparent;
  box-shadow: var(--mat-shadow), var(--mat-shadow-outline);
  transition: box-shadow 0.2s;

  &:focus-visible {
    outline: 2px solid var(---main);
    outline-offset: -1px;
    --mat-shadow-outline: 0 0 0 4px var(---foam);
  }
}
