:where(.mat\:air, .mat\:airy) {
  border: 0;
  background: var(--mat-air-0);
  outline: 0;
  text-decoration: none;

  &:hover {
    background: var(--mat-air-1);
  }
  &:active {
    background: var(--mat-air-2);
  }

  &:focus-visible {
    outline: 2px solid var(---main);
    outline-offset: -1px;
  }
}

.mat\:air {
  color: var(--text1);
  &[aria-selected='true'],
  &[aria-checked='true'],
  &[aria-pressed='true'],
  &.active {
    color: var(---fore);
  }
}

.mat\:airy {
  color: var(--text2);
  &[aria-selected='true'],
  &[aria-checked='true'],
  &[aria-pressed='true'],
  &.active {
    color: var(---text1);
  }
}

.mat\:ruby {
  color: var(--text1);
  border: 0;
  background: var(--mat-air-0);
  outline: 0;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    background: var(--mat-air-1);
  }
  &:active {
    background: var(--mat-air-2);
  }

  &[aria-selected='true'],
  &[aria-checked='true'],
  &[aria-pressed='true'],
  &.active {
    background: var(---main);

    &:hover {
      background: color-mix(in oklab, var(--tone-rasp), #000 10%);
    }
    &:active {
      background: color-mix(in oklab, var(--tone-rasp), #000 20%);
    }

    --text1: #fff;
    --text2: #fff;
    --text3: #fff;
  }

  &:focus-visible {
    outline: 2px solid var(---main);
    outline-offset: -1px;
  }
}
