:where(.clr-1) {
  color: var(--txt-1);
}

:where(.clr-2) {
  color: var(--txt-2);
}

:where(.clr-3) {
  color: var(--txt-3);
}

:where(.clr-ink) {
  color: var(---ink);
}

:where(.clr-main) {
  color: var(---main);
}

:where(.Trunk) {
  padding-inline: 5px;
}

:where(.Alert) {
  display: flex;
  align-items: center;
  color: var(---ink);
}
