:where(.clr-1) {
  color: var(--text1);
}

:where(.clr-2) {
  color: var(--text2);
}

:where(.clr-3) {
  color: var(--text3);
}

:where(.clr-ink) {
  color: var(---ink);
}

:where(.clr-main) {
  color: var(---main);
}

:where(.Trunk) {
  padding-inline: 5px;
}

:where(.Alert) {
  display: flex;
  align-items: center;
  color: var(---ink);
}
