.SFCurtain {
  position: fixed;
  inset: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--mat-air-2);
  overflow: auto;

  transition: box-shadow 0.2s;

  outline: 0;
  &:focus-visible {
    box-shadow: inset 0 0 0 4px var(---flame);
  }
}

.SFModal {
  position: relative;
  margin: auto;
  --w: 800px;
  width: min(calc(100% - 40px), var(--w));
  background-color: var(--mat-solid-0);

  transition: box-shadow 0.2s;

  outline: 0;
  &:focus-visible {
    outline: 2px solid var(---main);
    outline-offset: -1px;
    box-shadow: 0 0 0 4px var(---foam);
  }
}

@media (min-width: 700px) {
  .SFCurtain:has(.SFModal:only-child) {
    padding: 20px 0;
  }
}

.scale-enter-from,
.scale-leave-to {
  background-color: var(--mat-air-0);
  .SFModal {
    transform: scale(0);
  }
}

.scale-enter-active,
.scale-leave-active {
  transition: background-color 0.3s;
  .SFModal {
    transition: transform 0.3s var(--curve-wave);
  }
}
