:where(.VSelect) {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(---size);
  font-size: var(---f);
  line-height: 1.6;
  color: var(--txt-1);
  outline: 1px solid var(--mat-solid-15);
  outline-offset: -1px;
  box-shadow: 0 0 0 0 var(---foam);
  transition: box-shadow 0.2s;
}

:where(.VSelect:not([aria-disabled='true']):hover) {
  cursor: pointer;
}

:where(.VSelect:is(:focus-visible, [aria-expanded='true'])) {
  /* outline: 2px solid var(---flame); */
  box-shadow: 0 0 0 6px var(---foam);
}

:where(.VSelectPicker) {
  /* position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(---size);
  font-size: var(---f);
  line-height: 1.6;
  color: var(--txt-1);
  outline: 1px solid var(--mat-solid-15);
  outline-offset: -1px;
  box-shadow: 0 0 0 0 var(---foam);
  transition: box-shadow 0.2s; */
  background-color: var(--mat-solid-0);
  box-shadow: var(--shadow);
  outline: 0;
}

:where(.VSelectPicker [role='option']) {
  display: flex;
  align-items: center;
  gap: 5px;
  height: var(---size);
  font-size: var(---f);
  line-height: 1.6;
  /* position: relative;
  width: 100%;
  height: var(---size);
  font-size: var(---f);
  line-height: 1.6;
  color: var(--txt-1);
  outline: 1px solid var(--mat-solid-15);
  outline-offset: -1px;
  box-shadow: 0 0 0 0 var(---foam);
  transition: box-shadow 0.2s; */
  /* background-color: var(--mat-solid-1); */
  /* box-shadow: var(--shadow-1); */
}

:where(.VSelectPicker [role='option']:not([aria-diabled='true']):hover) {
  background-color: var(--mat-solid-1);
}

:where(.VSelectPicker [role='option']:not([aria-diabled='true'])[aria-current='true']) {
  background-color: var(--mat-solid-1);
}

:where(.VSelectPicker [role='option']:not([aria-diabled='true']):active) {
  background-color: var(--mat-solid-2);
}

:where(.VSelectPicker [role='option'][aria-selected='true']) {
  color: var(---ink);
  background: color-mix(in oklab, var(---foam), transparent 50%);
}

:where(
    .VSelectPicker
      [role='option'][aria-disabled='true']:not([aria-diabled='true']):hover
  ) {
  background: color-mix(in oklab, var(---foam), transparent 25%);
}

:where(
    .VSelectPicker
      [role='option'][aria-disabled='true']:not([aria-diabled='true']):active
  ) {
  background: color-mix(in oklab, var(---foam), transparent 0%);
}
