:where(.VSelect) {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(---size);
  font-size: var(---f);
  line-height: 1.6;
  color: var(--txt-1);
  outline: 1px solid var(--mat-solid-15);
  outline-offset: -1px;
  box-shadow: 0 0 0 0 var(---foam);
  transition: box-shadow 0.2s;
}

:where(.VSelect:not([aria-disabled='true']):hover) {
  outline-color: var(---flame);
  cursor: pointer;
}

:where(.VSelect:is(:focus, [aria-expanded='true'])) {
  outline: 2px solid var(---flame);
  /* box-shadow: 0 0 0 6px var(---foam); */
}

:where(.PopperBody) {
  transform: scaleY(0);
  transition: transform 0.2s var(--curve-wave);

  max-height: var(--max-height, auto);
  overflow: auto;

  box-shadow: var(--shadow);
  outline: 1px solid var(--mat-solid-15);
  outline-offset: -1px;
}

:where(.PopperBody.appear) {
  transform: scaleY(1);
}

:where(.VSelectPicker) {
  background-color: var(--mat-solid-0);
  outline: 0;
}

:where(.VSelectPicker [role='option']) {
  display: flex;
  align-items: center;
  gap: 5px;
  height: var(---size);
  padding: 10px;
  font-size: var(---f);
  line-height: 1.6;
}

:where(.VSelectPicker [role='option']:not([aria-diabled='true'])) {
  cursor: pointer;
}

:where(
    .VSelectPicker
      [role='option']:not([aria-diabled='true'])[aria-current='true']
  ) {
  background-color: var(--mat-solid-1);
}

:where(.VSelectPicker [role='option']:not([aria-diabled='true']):active) {
  background-color: var(--mat-solid-2);
}

:where(.VSelectPicker [role='option'][aria-selected='true']) {
  color: var(---ink);
  background: color-mix(in oklab, var(---foam), transparent 50%);
}

:where(
    .VSelectPicker
      [role='option'][aria-selected='true']:not([aria-diabled='true']):hover
  ) {
  background: color-mix(in oklab, var(---foam), transparent 25%);
}

:where(
    .VSelectPicker
      [role='option'][aria-selected='true']:not([aria-diabled='true']):active
  ) {
  background: color-mix(in oklab, var(---foam), transparent 0%);
}
