/* Tone Colors */
:root {
  --tone-rasp: #f23668;
  --tone-rasp-ink: #cc2345;
  --tone-rasp-flame: #ff6a8d;
  --tone-rasp-foam: #f2366833;
  --tone-iris: #3f67de;
  --tone-iris-ink: #254fcb;
  --tone-iris-flame: #6d90f8;
  --tone-iris-foam: #5577dd33;
  --tone-citrus: #fdcc45;
  --tone-citrus-ink: #d49100;
  --tone-citrus-flame: #ffe449;
  --tone-citrus-foam: #f0b82033;
  --tone-reimu: #f31313;
  --tone-reimu-ink: #dd1111;
  --tone-reimu-flame: #fd5050;
  --tone-reimu-foam: #f3131333;
}

.dark {
  --tone-rasp-ink: #ff6a8d;
  --tone-iris-ink: #6d90f8;
  --tone-citrus-ink: #ffe449;
  --tone-reimu-ink: #fd5050;
}

/* Tone Presets */
.tone\:rasp {
  ---main: var(--tone-rasp);
  ---ink: var(--tone-rasp-ink);
  ---flame: var(--tone-rasp-flame);
  ---foam: var(--tone-rasp-foam);
}

.tone\:iris {
  ---main: var(--tone-iris);
  ---ink: var(--tone-iris-ink);
  ---flame: var(--tone-iris-flame);
  ---foam: var(--tone-iris-foam);
}

.tone\:citrus {
  ---main: var(--tone-citrus);
  ---ink: var(--tone-citrus-ink);
  ---flame: var(--tone-citrus-flame);
  ---foam: var(--tone-citrus-foam);
}

.tone\:reimu {
  ---main: var(--tone-reimu);
  ---ink: var(--tone-reimu-ink);
  ---flame: var(--tone-reimu-flame);
  ---foam: var(--tone-reimu-foam);
}
