/* Tone Colors */
:root {
  --tone-rasp: #f01771;
  --tone-rasp-fore: #da0b65;
  --tone-rasp-fort: #da0b65;
  --tone-rasp-foam: #f0177133;
  --tone-iris: #5577dd;
  --tone-iris-fore: #2656cc;
  --tone-iris-fort: #2656cc;
  --tone-iris-foam: #5577dd33;
  --tone-citrus: #f8f808;
  --tone-citrus-fore: #caac00;
  --tone-citrus-fort: #caac00;
  --tone-citrus-foam: #f8f80833;
  --tone-reimu: #f31313;
  --tone-reimu-fore: #dd1111;
  --tone-reimu-fort: #dd1111;
  --tone-reimu-foam: #f3131333;
}

.dark {
  --tone-rasp-fore: #f6a;
  --tone-iris-fore: #6af;
  --tone-citrus-fore: #ee8;
  --tone-reimu-fore: #f66;
}

/* Tone Defaults */
:root {
  ---main: var(--tone-rasp);
  ---fore: var(--tone-rasp-fore);
  ---fort: var(--tone-rasp-fort);
  ---foam: var(--tone-rasp-foam);
}

/* Tone Presets */
.tone\:rasp {
  ---main: var(--tone-rasp);
  ---fore: var(--tone-rasp-fore);
  ---foam: var(--tone-rasp-foam);
}

.tone\:iris {
  ---main: var(--tone-iris);
  ---fore: var(--tone-iris-fore);
  ---foam: var(--tone-iris-foam);
}

.tone\:citrus {
  ---main: var(--tone-citrus);
  ---fore: var(--tone-citrus-fore);
  ---foam: var(--tone-citrus-foam);
}

.tone\:reimu {
  ---main: var(--tone-reimu);
  ---fore: var(--tone-reimu-fore);
  ---foam: var(--tone-reimu-foam);
}
