:where(.VRadioGroup) {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  font-size: var(--f2);
  line-height: 1.6;
  outline: none;
}

:where(.VRadioGroup [role='option']) {
  position: relative;
  display: flex;
  align-items: center;

  min-height: 40px;

  outline: 1px solid var(--mat-solid-15);
  outline-offset: -1px;
  cursor: pointer;
  user-select: none;
}

:where(.VRadioTrunk) {
  padding-inline: 20px;
}

:where(.VRadioGroup [role='option']:not([aria-disabled='true']):hover) {
  background: var(--mat-solid-1);
}

:where(.VRadioGroup [role='option']:not([aria-disabled='true']):active) {
  background: var(--mat-solid-2);
}

:where(.VRadioGroup [role='option']):where([aria-selected='true']) {
  color: var(---ink);
  outline: 2px solid var(---main);
}

:where(
    .VRadioGroup
      [role='option']:not([aria-disabled='true'])[aria-selected='true']:hover
  ) {
  background: color-mix(in oklab, var(---foam), transparent 75%);
}

:where(
    .VRadioGroup
      [role='option']:not([aria-disabled='true'])[aria-selected='true']:active
  ) {
  background: color-mix(in oklab, var(---foam), transparent 50%);
}

:where(.VRadioGroup [role='option'][aria-disabled='true']) {
  color: var(--text-3);
  background: var(--mat-solid-05);
  cursor: not-allowed;
}

:where(.VRadioGroup:focus-visible [role='option']):where(
    [aria-current='true']
  ) {
  outline-width: 2px;
}

:where(.VRadioGroup:focus-visible [role='option'][aria-current='true']) {
  outline-width: 2px;
  box-shadow: 0 0 0 6px var(--mat-air-1);
}

:where(
    .VRadioGroup:focus-visible
      [role='option'][aria-selected='true'][aria-current='true']
  ) {
  outline-width: 2px;
  box-shadow: 0 0 0 6px var(---foam);
}

:where(.VRadioGroup [role='option']:not([aria-selected='true']) .VCheckboxIndicator) {
  display: none;
}

:where(.VCheckboxIndicator) {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 15px;
  height: 15px;
  font-size: 15px;
  color: var(--mat-solid-0);
  background: var(---main);
}