:where(.VSelect .VInputTrunk) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:where(.VSelect .VInputTrunk) {
  pointer-events: none;
}

:where(.VSelect:not([aria-disabled='true']):hover) {
  outline-color: var(---flame);
  cursor: pointer;
}

:where(.VSelect:is(:focus-within, [aria-expanded='true'])) {
  outline: 2px solid var(---flame);
}

:where(.VSelect[aria-expanded='true']) {
  box-shadow: 0 0 0 4px var(---foam);
}

:where(.VSelectPicker) {
  background-color: var(--mat-solid-0);
  outline: 0;
}

:where(.VSelectPicker [role='none']) {
  padding: 10px 10px 5px;
  font-size: var(---f);
  line-height: 1.6;
  font-weight: 600;
}

:where(.VSelectPicker [role='option']) {
  display: flex;
  align-items: center;
  gap: 5px;
  height: var(---size);
  padding: 10px;
  font-size: var(---f);
  line-height: 1.6;

  white-space: nowrap;
  /* text-overflow: ellipsis; unavailable */
  overflow: hidden;
}

:where(.VSelectPicker [role='option']:not([aria-diabled='true'])) {
  cursor: pointer;
}

:where(
    .VSelectPicker
      [role='option']:not([aria-diabled='true'])[aria-current='true']
  ) {
  background-color: var(--mat-solid-1);
}

:where(.VSelectPicker [role='option']:not([aria-diabled='true']):active) {
  background-color: var(--mat-solid-2);
}

:where(.VSelectPicker [role='option'][aria-selected='true']) {
  color: var(---ink);
  background: color-mix(in oklab, var(---foam), transparent 50%);
}

:where(
    .VSelectPicker
      [role='option'][aria-selected='true']:not([aria-diabled='true']):hover
  ) {
  background: color-mix(in oklab, var(---foam), transparent 25%);
}

:where(
    .VSelectPicker
      [role='option'][aria-selected='true']:not([aria-diabled='true']):active
  ) {
  background: color-mix(in oklab, var(---foam), transparent 0%);
}
