.VSwitch {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: var(---f);
  line-height: 1.6;
  outline: none;

  &:where(:not([aria-disabled='true'])) {
    cursor: pointer;
  }

  :where(.VSwitchIndicator) {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px;
    width: var(---size);
    height: calc(var(---size) / 2);

    background: var(--mat-solid-2);
    border-radius: 999px;

    transition: transform 0.2s var(--curve-wave), background 0.2s var(--curve-wave);

    &::before {
      display: block;
      width: calc(var(---size) / 2 - 8px);
      aspect-ratio: 1;
      background: var(--mat-solid-0);
      border-radius: 999px;
      content: '';
      transition: all 0.2s var(--curve-wave);
    }
  }

  &:where(:focus-visible) .VSwitchIndicator {
    outline: 2px solid var(---main);
    outline-offset: 1px;
  }

  &:where([aria-pressed='true']) .VSwitchIndicator {
    background: var(---main);
    &::before {
      transform: translateX(calc(var(---size) / 2));
      background: var(--mat-solid-0);
    }
  }
}
