@import '@docs/mixins';

main.doc-layout {
  display: flex;
  align-items: stretch;
  height: 100%;

  .doc-aside {
    flex: 200px 0 0;
    overflow: auto;
    border-right: 1px solid var(--color-dark-fade-100);

    dt {
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 15px;
      padding-left: 15px;
      color: var(--color-primary-darken-100);
      font-weight: 700;
      font-size: 14px;
    }

    dl {
      padding-bottom: 20px;
      border-bottom: 1px solid var(--color-dark-fade-100);
    }

    a {
      display: block;
      padding-left: 15px;
      font-size: 14px;
      line-height: 1.2;
    }

    &:not(.doc-aside--expanded) {
      display: none;
    }

    // position: absolute;
    // width: 200px;

    // & + * {
    //   position: absolute;
    // }

    // &.doc-aside--expanded + * {
    //   transform: translateX(200px);
    // }
  }

  .doc-content {
    flex-grow: 1;
    order: 2;
    overflow: auto;

    > article {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
