@import '@docs/mixins';

.page-walker-markdown {
  color: var(--color-dark);
  line-height: 1.6;

  // FUNDAMENTALS
  > table,
  > p,
  > blockquote,
  > ul,
  > ol {
    code {
      margin: 2px;
      padding: 2px 4px;
      color: #666;
      font-family: Consolas, 'Courier New', Courier, FreeMono, monospace;
      background: var(--color-dark-fade-1);
      border-radius: 5px;
    }

    a {
      color: var(--color-primary);
      text-decoration: none;
      border-bottom: 2px solid transparent;
      outline: none;

      &:active,
      &:hover,
      &:focus-visible {
        color: var(--color-primary-darken-200);
      }

      &:focus-visible {
        box-shadow: 0 0 0 4px var(--color-primary-fade-200);
      }
    }
  }

  > blockquote {
    margin-left: 0;
    padding: 20px;
    font-size: small;
    background: var(--color-dark-fade-1);
    box-shadow: inset 10px 0 0 0 var(--color-primary-fade-100);
  }

  // TABLE
  > table {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 24px;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;

    code {
      color: #666;
      background: var(--color-dark-fade-1);
    }

    th {
      border-bottom: 1px solid #ddd;
    }

    td {
      border-bottom: 1px solid #fafafa;
    }

    th,
    td {
      padding: 18px 8px;

      &:not(:last-child) {
        padding-right: 36px;
      }
    }

    tbody > tr:hover {
      background: #fafafa;
    }
  }

  // HEADINGS
  > h2 {
    font-size: 42px;
  }

  > h3 {
    margin: 0;
    padding: 12px;
    color: var(--color-primary);
    font-size: 35px;
    border-radius: 8px;
    transform: translateX(-12px);

    &::before,
    &::after {
      position: absolute;
      bottom: 6px;
      left: 20px;
      z-index: -1;
      display: block;
      width: 300px;
      height: 16px;
      content: '';
    }

    &::before {
      background: linear-gradient(#fff8, #fff8),
        linear-gradient(-30deg, var(--color-primary-fade-100), var(--color-primary-fade-200));
      border-radius: 999px;
    }

    &::after {
      border-radius: 999px;
      box-shadow: -12px -8px 0 6px var(--color-contrasting-fade-100),
        2px -14px 0 6px var(--color-dark-fade-1);
      opacity: 0.5;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    a {
      position: relative;
      display: block;
      color: var(--color-primary);
      text-decoration: none;
      filter: drop-shadow(-2px 2px 0 #fff);

      @supports (-webkit-background-clip: text) {
        &::first-letter {
          color: transparent;
          background-image: linear-gradient(90deg, #da377b 20%, var(--color-primary) 55%);
          /* stylelint-disable-next-line property-no-vendor-prefix */
          -webkit-background-clip: text;
          background-clip: text;
        }
      }
      @supports (background-clip: text) {
        &::first-letter {
          color: transparent;
          background-image: linear-gradient(90deg, #da377b 20%, var(--color-primary) 55%);
          /* stylelint-disable-next-line property-no-vendor-prefix */
          -webkit-background-clip: text;
          background-clip: text;
        }
      }

      &::after {
        position: relative;
        left: 8px;
        color: transparent;
        transition: all 0.1s;
        content: '#';
      }

      &:hover,
      &:focus-visible {
        &::after {
          color: var(--color-dark-fade-200);
        }
      }
    }
  }

  // CUSTOM ELEMENTS
  .text-directive-required {
    &::after {
      color: var(--color-danger);
      content: '*';
    }
  }

  // UNSAFE
  .demo-player {
    color: initial;
    line-height: initial;
  }
}

.page-walker {
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 48px 0;

    &::before {
      position: absolute;
      top: -24px;
      right: 48px;
      left: 48px;
      display: block;
      border-top: 1px dotted #00000016;
      content: '';
    }

    &.container-directive-markdown-with-demo-section > div:first-child {
      @include laptop {
        flex: 388px 0 0;
        margin-right: 24px;
      }
    }

    @include laptop {
      flex-direction: row;
    }
  }
}
