.homepage {
  --fixed-width: min(100vw, 200vh, 1200px);

  > main {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 45px);
    margin: auto;

    --home-bg-gradient-color: #ff3d5e;
    --home-bg-gradient-color2: #ff7600;
    --home-bg-mask-size: 80px;
    --a: var(--home-bg-mask-size);
    --home-bg-mask-position: calc(var(--a) / 2) calc(var(--a) / 2) / var(--a) var(--a);

    background: radial-gradient(white 71%, transparent 72%) var(--home-bg-mask-position) repeat,
      repeating-linear-gradient(
        45deg,
        transparent 10px,
        var(--home-bg-gradient-color) 10px,
        var(--home-bg-gradient-color) 12px,
        transparent 12px,
        transparent 190px
      ),
      repeating-linear-gradient(
        -45deg,
        transparent 10px,
        var(--home-bg-gradient-color2) 10px,
        var(--home-bg-gradient-color2) 12px,
        transparent 12px,
        transparent 100px
      ),
      linear-gradient(transparent 20%, #ffff 20%, #ffff 80%, transparent 80%);
    background-blend-mode: screen;
    animation: home-bg 60s linear infinite;

    @keyframes home-bg {
      from {
        background-position: var(--a) var(--a), 0 0, 0 0, 0 0;
      }

      to {
        background-position: calc(var(--a) * 3) calc(var(--a) * 3), 0 0, 0 0, 0 0;
      }
    }

    > img {
      width: calc(var(--fixed-width) / 2.5);
      height: calc(var(--fixed-width) / 2.5);
    }

    > div {
      > h2 {
        margin: 0.25em;
        font-size: calc(var(--fixed-width) / 14);
        line-height: 1;
      }

      margin-right: calc(var(--fixed-width) / 14);
      padding: 10px;
      border-radius: 30px;
    }
  }
}
