vp-kbd {
  position: relative;
  display: inline-grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 2px;

  font-size: 12px;
  line-height: 1.2;

  :is(.m0, .m1, .m2)::before {
    display: block;
    width: 9px;
    height: 13px;
    border-radius: 9px;
    border: 1px solid currentColor;
    background:
      no-repeat 0 0 / 8px 5px
        linear-gradient(90deg, red 3px, currentColor 3px, transparent 4px),
      linear-gradient(transparent 5px, currentColor 6px, transparent 6px);
    content: '';
  }

  .m1::before {
    display: block;

    background:
      no-repeat 1px 0 / 5px 7px radial-gradient(red 45%, transparent 50%),
      linear-gradient(transparent 5px, currentColor 6px, transparent 6px);
  }

  .m2 {
    transform: scaleX(-1);
  }
}
