@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;600&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: 'Inter var', 'Inter', 'Noto Sans SC', sans-serif;
  color: var(--text1);
  /* This prevents our white-space:pre-wrap from reset.scss applied to <body>, which will cause a gap  */
  font-size: 0;
}

#app {
  font-size: 16px;
}

/* https://github.com/vuejs/vitepress/blob/c37bedea393b13bb870c2d563a8830bce2fced3b/src/client/theme-default/styles/base.css#L27 */
html {
  &:not(.dark) {
    color-scheme: light;
  }
  &.dark {
    color-scheme: dark;
  }
}

.VPButton {
  text-decoration: none;
}

:is(.VPNav, .VPLocalNav, .VPDocAside, .VPDocFooter) {
  button {
    border: 0;
    background-color: transparent;
  }
  a {
    text-decoration: none;
  }
}

/* https://shikiji.netlify.app/guide/dual-themes */
.shiki {
  background-color: transparent !important;
}
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
}

:root {
  --vp-header-h: 50px;
}

.🩷 {
  position: relative;
  padding: 5px 5px;
  border-radius: 5px 7px;
  box-shadow:
    inset 1px 1px #fec,
    inset 2px 2px #fff,
    inset -1px -1px #c87;
  color: #334;
  background:
    radial-gradient(#fe7, #0000 50%) 50% 100% / 400% 400% no-repeat,
    linear-gradient(135deg, #fb9, #f9b);
  overflow: clip;
}

.dark .🩷 {
  box-shadow:
    inset 1px 1px #fff8,
    inset 0 0 0 1px #000;
}

.🦄 {
  border-radius: 5px;
  color: #334;
  background:
    linear-gradient(
      200deg,
        white 10%,
        white calc(10% + 10px),
        transparent calc(10% + 12px),
        transparent calc(10% + 32px),
        white calc(10% + 35px)
      ) no-repeat,
    repeating-radial-gradient(
        transparent 0px,
        transparent 5px,
        #dde 6px,
        #dde 11px
      )
      0 0 / 11px 11px,
    repeating-radial-gradient(
        transparent 0px,
        transparent 5px,
        #dde 6px,
        #dde 10px
      )
      0 0 / 10px 10px,
    linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%),
    /* radial-gradient(#acfe 50%, rgba(153, 185, 255, 0.933) 55%); */
      repeating-linear-gradient(
        120deg,
        #acfe 0px,
        #acfe 28px,
        #bbd5f8ee 32px,
        #bbd5f8ee 46px,
        #acfe 50px
      );
}

.\(\/\/\/\) {
  background: repeating-linear-gradient(
    120deg,
    #0000 0px,
    #0000 5px,
    #f8f6f4 5px,
    #f8f6f4 10px
  );
}
.dark .\(\/\/\/\) {
  background: repeating-linear-gradient(
    120deg,
    #0000 0px,
    #0000 5px,
    #333 5px,
    #333 10px
  );
}

:where(samp) {
  white-space: pre-wrap;
  user-select: none;
  pointer-events: none;
  z-index: 10086;
  position: relative;

  color: #24a;
  font: bold 15px monospace;
  --back: #fff;
  filter: drop-shadow(var(--back) 1px 1px) drop-shadow(var(--back) -1px -1px)
    drop-shadow(var(--back) 0 2px);
}
