/* Based on Vitepress default theme */

/**
 * Headings
 * -------------------------------------------------------------------------- */
.vp-doc > div {
  line-height: 1.6;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    position: relative;
    font-weight: 600;
    outline: none;
  }

  > h1 {
    font-size: var(--h1);
  }

  > h2 {
    margin: 48px 0 16px;
    border-top: 1px solid var(--DVD);
    padding-top: 24px;
    font-size: var(--h2);
  }

  > h3 {
    margin: 32px 0 0;
    font-size: var(--h3);
  }

  > h4,
  > h5,
  > h6 {
    margin: 2em 0 1em 0;
    font-size: var(--f1);
  }

  /**
  * Paragraph and inline elements
  * -------------------------------------------------------------------------- */
  > p,
  > summary {
    margin: 16px 0;
  }
  > p {
    font-size: var(--f1);
  }
  > blockquote {
    margin: 16px 0;
    border-left: 2px solid var(--vp-c-divider);
    padding-left: 16px;
    transition: border-color 0.5s;
    > p {
      margin: 0;
      font-size: var(--f1);
      color: var(--vp-c-text-2);
      transition: color 0.5s;
    }
  }

  a:not(.undoc *) {
    font-weight: 500;
    color: var(--tone-rasp-fore);
    text-decoration: underline;
    text-underline-offset: 2px;
    &:hover {
      color: color-mix(in oklab, var(--tone-rasp-fore), #000 15%);
    }
  }

  strong:not(.undoc *) {
    font-weight: 600;
  }

  /**
  * Header Anchor
  * -------------------------------------------------------------------------- */

  .header-anchor {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    user-select: none;
    width: 25px;
    opacity: 0;
    text-decoration: none !important;
    transition:
      color 0.3s,
      opacity 0.3s;
    transform: translateX(-25px);
  }

  .header-anchor::before {
    content: '#';
  }

  :is(h1, h2, h3, h4, h5, h6) {
    &:hover .header-anchor, .header-anchor:focus {
      opacity: 1;
    }
  }

  /* *
  * Lists
  * -------------------------------------------------------------------------- */

  ul:not(.undoc *),
  ol:not(.undoc *) {
    padding-left: 1.25rem;
    margin: 16px 0;

    li + li {
      margin-top: 8px;
    }

    li > ol,
    li > ul {
      margin: 8px 0 0;
    }
  }

  ul:not(.undoc *) {
    list-style: disc;
  }

  ol:not(.undoc *) {
    list-style: decimal;
  }

  /**
  * Table
  * -------------------------------------------------------------------------- */
  table:not(.undoc *) {
    display: block;
    border-collapse: collapse;
    margin: 20px 0;
    overflow-x: auto;

    tr {
      background-color: var(--vp-c-bg);
      border-top: 1px solid var(--vp-c-divider);
      transition: background-color 0.5s;
    }

    tr:nth-child(2n) {
      background-color: var(--vp-c-bg-soft);
    }

    th,
    td {
      border: 1px solid var(--vp-c-divider);
      padding: 8px 16px;
    }

    th {
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      color: var(--vp-c-text-2);
      background-color: var(--vp-c-bg-soft);
    }

    td {
      font-size: 14px;
    }
  }

  /**
  * Decorational elements
  * -------------------------------------------------------------------------- */

  hr:not(.undoc *) {
    margin: 16px 0;
    border: none;
    border-top: 1px solid var(--vp-c-divider);
  }
}

/**
  * Code
  * -------------------------------------------------------------------------- */
.vp-doc code {
  font-family: monospace;
}
/* inline code */
.vp-doc :not(pre, h1, h2, h3, h4, h5, h6) > code {
  font-size: var(--vp-code-font-size);
  color: var(--vp-code-color);
}

.vp-doc :not(pre) > code {
  border-radius: 4px;
  padding: 3px 6px;
  background-color: var(--vp-code-bg);
  transition:
    color 0.25s,
    background-color 0.5s;
}

.vp-doc a > code {
  color: var(--vp-code-link-color);
}

.vp-doc a:hover > code {
  color: var(--vp-code-link-hover-color);
}

.vp-doc h1 > code,
.vp-doc h2 > code,
.vp-doc h3 > code {
  font-size: 0.9em;
}

.vp-doc div[class*='language-'],
.vp-block {
  position: relative;
  margin: 16px -24px;
  background-color: var(--vp-code-block-bg);
  overflow-x: auto;
  transition: background-color 0.5s;
}

@media (min-width: 640px) {
  .vp-doc div[class*='language-'],
  .vp-block {
    border-radius: 8px;
    margin: 16px 0;
  }
}

@media (max-width: 639px) {
  .vp-doc li div[class*='language-'] {
    border-radius: 8px 0 0 8px;
  }
}

.vp-doc div[class*='language-'] + div[class*='language-'],
.vp-doc div[class$='-api'] + div[class*='language-'],
.vp-doc div[class*='language-'] + div[class$='-api'] > div[class*='language-'] {
  margin-top: -8px;
}

.vp-doc [class*='language-'] pre,
.vp-doc [class*='language-'] code {
  /*rtl:ignore*/
  direction: ltr;
  /*rtl:ignore*/
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.vp-doc [class*='language-'] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 20px 0;
  background: transparent;
  overflow-x: auto;
}

.vp-doc [class*='language-'] code {
  display: block;
  padding: 0 24px;
  width: fit-content;
  min-width: 100%;
  line-height: var(--vp-code-line-height);
  font-size: var(--vp-code-font-size);
  color: var(--vp-code-block-color);
  transition: color 0.5s;
}

.vp-doc [class*='language-'] code .highlighted {
  background-color: var(--vp-code-line-highlight-color);
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 2 * 24px);
  display: inline-block;
}

.vp-doc [class*='language-'] code .highlighted.error {
  background-color: var(--vp-code-line-error-color);
}

.vp-doc [class*='language-'] code .highlighted.warning {
  background-color: var(--vp-code-line-warning-color);
}

.vp-doc [class*='language-'] code .diff {
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 2 * 24px);
  display: inline-block;
}

.vp-doc [class*='language-'] code .diff::before {
  position: absolute;
  left: 10px;
}

.vp-doc [class*='language-'] .has-focused-lines .line:not(.has-focus) {
  filter: blur(0.095rem);
  opacity: 0.4;
  transition:
    filter 0.35s,
    opacity 0.35s;
}

.vp-doc [class*='language-'] .has-focused-lines .line:not(.has-focus) {
  opacity: 0.7;
  transition:
    filter 0.35s,
    opacity 0.35s;
}

.vp-doc [class*='language-']:hover .has-focused-lines .line:not(.has-focus) {
  filter: blur(0);
  opacity: 1;
}

.vp-doc [class*='language-'] code .diff.remove {
  background-color: var(--vp-code-line-diff-remove-color);
  opacity: 0.7;
}

.vp-doc [class*='language-'] code .diff.remove::before {
  content: '-';
  color: var(--vp-code-line-diff-remove-symbol-color);
}

.vp-doc [class*='language-'] code .diff.add {
  background-color: var(--vp-code-line-diff-add-color);
}

.vp-doc [class*='language-'] code .diff.add::before {
  content: '+';
  color: var(--vp-code-line-diff-add-symbol-color);
}

.vp-doc div[class*='language-'].line-numbers-mode {
  /*rtl:ignore*/
  padding-left: 32px;
}

.vp-doc .line-numbers-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  /*rtl:ignore*/
  left: 0;
  z-index: 3;
  /*rtl:ignore*/
  border-right: 1px solid var(--vp-code-block-divider-color);
  padding-top: 20px;
  width: 32px;
  text-align: center;
  font-family: var(--vp-font-family-mono);
  line-height: var(--vp-code-line-height);
  font-size: var(--vp-code-font-size);
  color: var(--vp-code-line-number-color);
  transition:
    border-color 0.5s,
    color 0.5s;
}

/**
  * Copy code button
  * -------------------------------------------------------------------------- */
.vp-doc [class*='language-'] {
  button.copy {
    /* https://github.com/vuejs/vitepress/blob/20511006dba516ca8c06ed1dd3516547af668a0e/src/client/theme-default/styles/vars.css#L308 */
    --vp-icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2'/%3E%3C/svg%3E");
    --vp-icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2m-6 9 2 2 4-4'/%3E%3C/svg%3E");

    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 3;
    color: var(--text3);
    border: 0;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background-color: var(--mat-air-0);
    opacity: 0;
    cursor: pointer;
    background-image: var(--vp-icon-copy);
    background-position: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    transition:
      border-color 0.25s,
      background-color 0.25s,
      opacity 0.25s;
  }

  > span.lang {
    position: absolute;
    top: 2px;
    right: 8px;
    z-index: 2;
    font-size: 12px;
    font-weight: 500;
    color: var(--text3);
    transition:
      color 0.4s,
      opacity 0.4s;
  }

  &:hover button.copy,
  button.copy:focus {
    opacity: 1;

    + span.lang {
      opacity: 0;
    }
  }

  button.copy:hover {
    background-color: var(--mat-air-1);
  }

  button.copy:active {
    background-color: var(--mat-air-2);
  }

  button.copy.copied {
    background-color: var(--mat-air-0);
    background-image: var(--vp-icon-copied);
    pointer-events: none;
  }
}

/**
  * External links icon
  * -------------------------------------------------------------------------- */

:is(.vp-external-link-icon, .vp-doc a[href*='://'], .vp-doc a[target='_blank']):not(.no-icon)::after
{
  display: inline-block;
  margin-top: -1px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  background: currentColor;
  color: var(--vp-c-text-3);
  flex-shrink: 0;
  --icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none' /%3E%3Cpath d='M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z' /%3E%3C/svg%3E");
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
}

.vp-external-link-icon::after {
  content: '';
}

/* vp-code.css */
.dark .vp-code span {
  color: var(--shiki-dark, inherit);
}

html:not(.dark) .vp-code span {
  color: var(--shiki-light, inherit);
}

.custom-block {
  padding: 20px;
  margin: 20px 0;

  .custom-block-title {
    padding-bottom: 5px;
    font-size: var(--f1);
    font-weight: 600;
    line-height: 1.6;
  }

  blockquote {
    font-size: var(--f2);
    line-height: 1.6;
  }

  &.info {
    background-color: var(--mat-air-1);
  }

  &:is(details) {
    padding: 0 20px;
    background-color: var(--mat-air-1);
    summary {
      position: relative;
      padding: 20px;
      margin-inline: -20px;
      border: 1px solid transparent;
      cursor: default;

      &:hover {
        background-color: var(--mat-air-2);
      }
      &:active {
        background-color: var(--mat-air-3);
      }
    }

    &[open] {
      padding-bottom: 20px;
      summary {
        margin-bottom: 20px;
      }
    }
  }
}
