.sf-notification-item {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transform: translateY(var(--y));
  transform-origin: top;
  transition: all 0.3s var(--bezier-ea);
}

.sf-notification-item__content-in {
  animation: sf-notification-item-in-da-you 0.3s var(--bezier-ea) forwards;
}

.sf-notification-item__content-out {
  animation: sf-notification-item-out-da-you 0.3s var(--bezier-ea) forwards;
}
@keyframes sf-notification-item-in-da-you {
  from {
    transform: translateY(0) scale(0);
  }

  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes sf-notification-item-out-da-you {
  from {
    transform: translateY(0) scale(1);
  }

  to {
    transform: translateY(0) scale(0);
  }
}
