$spacing: (
	auto: auto,
	0: 0,
	1: 5px,
	2: 10px,
	3: 15px,
	4: 20px,
	5: 25px,
	6: 30px,
	7: 35px,
	8: 40px,
) !default;

@each $s, $p in $spacing {
	.gap-#{$s} {
		gap: $p;
	}
}

@each $s, $p in $spacing {
	.m-#{$s} {
		margin: $p;
	}
	.p-#{$s} {
		padding: $p;
	}
}

@each $s, $p in $spacing {
	.mx-#{$s} {
		margin-inline: $p;
	}
	.my-#{$s} {
		margin-block: $p;
	}
	.px-#{$s} {
		padding-inline: $p;
	}
	.py-#{$s} {
		padding-block: $p;
	}

	.mt-#{$s} {
		margin-top: $p;
	}
	.mr-#{$s} {
		margin-right: $p;
	}
	.mb-#{$s} {
		margin-bottom: $p;
	}
	.ml-#{$s} {
		margin-left: $p;
	}
	.pt-#{$s} {
		padding-top: $p;
	}
	.pr-#{$s} {
		padding-right: $p;
	}
	.pb-#{$s} {
		padding-bottom: $p;
	}
	.pl-#{$s} {
		padding-left: $p;
	}
}
