// Flex Display
.\[X\],
.\[Y\],
.\[A\],
.\[B\] {
	display: flex;
}

.\[x\],
.\[y\],
.\[a\],
.\[b\] {
	display: inline-flex;
}

.\[A\],
.\[a\] {
	flex-direction: column;
}

.\[B\],
.\[b\] {
	flex-direction: row;
}

.\[Y\],
.\[y\] {
	flex-direction: column-reverse;
}

.\[X\],
.\[x\] {
	flex-direction: row-reverse;
}

// One-Column Alignment

$ALIGNITEMS: (
	S: flex-start,
	C: center,
	E: flex-end,
	F: stretch,
	B: baseline,
);
$JUSTIFYCONTENT: (
	S: flex-start,
	C: center,
	E: flex-end,
	0: space-between,
	1: space-around,
	2: space-evenly,
);
@each $a, $b in $ALIGNITEMS {
	.\[#{$a}S\],
	.\[#{$a}C\],
	.\[#{$a}E\],
	.\[#{$a}0\],
	.\[#{$a}1\],
	.\[#{$a}2\] {
		align-items: #{$b};
	}
}
@each $a, $b in $JUSTIFYCONTENT {
	.\[S#{$a}\],
	.\[C#{$a}\],
	.\[E#{$a}\],
	.\[F#{$a}\],
	.\[B#{$a}\] {
		justify-content: #{$b};
	}
}

// Multi-Column Alignment

.\[\[\+S\]\],
.\[\[\+C\]\],
.\[\[\+E\]\],
.\[\[\+0\]\],
.\[\[\+1\]\],
.\[\[\+2\]\],
.\[\[\+F\]\] {
	flex-wrap: wrap;
}

.\[\[\-S\]\],
.\[\[\-C\]\],
.\[\[\-E\]\],
.\[\[\-0\]\],
.\[\[\-1\]\],
.\[\[\-2\]\],
.\[\[\-F\]\] {
	flex-wrap: wrap-reverse;
}

$ALGINCONTENT: (
	S: flex-start,
	C: center,
	E: flex-end,
	0: space-between,
	1: space-around,
	2: space-evenly,
	F: stretch,
);
@each $a, $b in $ALGINCONTENT {
	.\[\[\+#{$a}\]\],
	.\[\[\-#{$a}\]\] {
		align-content: #{$b};
	}
}

@each $a in (0, 1, 2, 3, 4, 5) {
	.\[\+#{$a}\] {
		flex-grow: #{$a};
	}
	.\[\-#{$a}\] {
		flex-shrink: #{$a};
	}
}
