kbd {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.2;
  font-family: inherit;
  padding: 1px 5px;
  border-radius: 3px;
  box-shadow:
    0 2px 0 -1px var(--mat-solid-15),
    inset 0 0 0 1px var(--mat-solid-15);
}
