.sf-collapse {
  overflow: hidden;
}

.sf-collapse-out {
  height: 0;
}

.sf-collapse-in {
  height: var(--h);
}

.sf-collapse-active {
  transition: height 0.3s var(--bezier-wave);
  user-select: none;
  pointer-events: none;
}
