.sf-dialog-body {
  > :last-child {
    position: relative;
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;

    &::before {
      position: absolute;
      top: 30%;
      left: -10px;
      display: block;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-right-color: currentcolor;
      content: '';
    }
  }
}

.sf-dialog {
  max-width: 680px;
  max-height: 100%;
  margin: auto;
  overflow: auto;
  background: white;
}

.sf-dialog-in {
  transform: scale(1);
}

.sf-dialog-out {
  transform: scale(0);
}

.sf-dialog-active {
  transition: all 0.3s var(--bezier-wave);
}

.sf-dialog-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sf-dialog-background-in {
  background-color: #0001;
}

.sf-dialog-background-out {
  background-color: #0000;
}

.sf-dialog-background-active {
  transition: all 0.3s var(--bezier-wave);
}
