.sf-popper-wrap {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(var(--x), var(--y));
}

.sf-popper--default[data-popper-placement^='bottom'] {
  transform-origin: top;
}

.sf-popper--default[data-popper-placement^='top'] {
  transform-origin: bottom;
}

.sf-popper--default[data-popper-placement^='left'] {
  transform-origin: right;
}

.sf-popper--default[data-popper-placement^='right'] {
  transform-origin: left;
}

.sf-popper--default {
  background-color: white;
  border: 1px solid var(--color-dark-fade-100);
  border-radius: 2px;
  box-shadow: 0 2px 12px 0 #0001;

  &.sf-popper-out {
    transform: scale(0);
  }

  &.sf-popper-in {
    transform: scale(1);
  }

  &.sf-popper-active {
    transition: transform 0.2s var(--bezier-wave);
  }
}
