i-feather {
  display: inline-grid;
  place-content: center;
  flex-shrink: 0;
}

i-feather svg {
  width: 1em;
  height: 1em;
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

i-edge {
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  clip-path: circle(0);
  pointer-events: none;
}