.VDialog {
  position: relative;
  margin: 20px;
  padding: 20px;
  width: var(--v-width);
  max-width: calc(100% - 40px);
}

.VDialogHeader {
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
}
